.layout {
  padding: 0;
  height: 100%;
}

.sidebar {
  background-color: var(--primary);
  padding: 10px;
  padding-top: 100px;

}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  gap: 15px;
}

.active-menu-item {
  border: 2px solid white;
  border-radius: 2px;
}

.body {
  flex-grow: 1;
}

.header {
  background-color: var(--primary);
  color: white;
  padding: 10px;

}

.content {
  height: 100%;
}